@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #191B1E !important;
}

.login-container{
    width: 100%;
    height:100vh;
    /* background-color: red; */
    background-color: #191B1E;

    
}

.semi-container{
    width: 400px !important;
    height: 70vh !important;
    background-color: #1B1C22;
    box-shadow: 0px 0px 4px 4px #777;
    border-radius: 10px;
}



.logo-cont{
    width: 250px;
    height: 56px;

}


.label-ctn{
    margin: 0 auto;
    width:20em;
    text-align: left;
}
.label-ctn label{
    color: #fff;
    font-size: 14px;
    font-family: 'Poppins';
}

.entry-Ctn{
    margin: 0 auto;
    width: 20em;
    height: 45px;
    margin-bottom: 10px;
    /* background-color: blue; */
}

.usrEnt{
    width: 100%;
    height: 45px;
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: #1B1C22;
    border: 1px solid white;
    color: #fff;
    font-size: 14px;
    font-family: 'Poppins';
}
.reg-btn{
    width: 150px;
    height: 55px;
    border-radius: 50px;
    background-color: #E68415;
    color: white;
    font-size: 17px;
    font-weight: 700;
    border: 0;
    margin-top: 30px;
    /* margin: 0 auto; */
}

.login-form{
    margin: 0;

}

.regBtn-ctn{
    padding-top: 20px ;
    text-align: center;
}


.existLabel{
    color:#fff;
    font-size: 14px;
    font-family: 'Poppins';
    margin-top: 10px;
}

.existLabel a{
    text-decoration: none;
    color: #E68415;
}

.or{
    color:#fff;
    font-size: 14px;
    font-family: 'Poppins';
    margin-top: 10px;
}