.c-containter {
  position: sticky;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 70px;
    z-index: 9999999999;
    padding: 0;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px -4px 4px rgba(255, 255, 255, 0.412);
    -moz-box-shadow: 0px -4px 4px rgba(255, 255, 255, 0.357);
    box-shadow: 0px -3px 9px rgba(255, 255, 255, 0.707);
  }

.songArt{
  display: flex;
  align-items: center;
  flex: 2;
}
.songArt img{
  width: 80px;
  height: 70px;
}
.musicControlCtn{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
  flex: 7;
  background-color: rgb(255, 255, 255);
  padding: 10px 30px 10px 30px;
}
.songAction{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  background-color: rgb(247, 247, 247);
}

.songAction img{
  width: 18px;
  height: 18px;
  /* background-color: rgb(111, 255, 255); */
}
.musicControl{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 150px;
  height: 40px;
  /* background-color: blue; */
}
.musicControl img{
  width: 15px;
  height: 15px;
}
.songInfo{
  width: 200px;
  display: flex;  
  flex-direction: column;
  height: 80px;
  padding: 15px;
  font-family: sans-serif;
  color: rgb(25, 25, 25);
}
.songInfo h4{
  font-size: 18px;
  font-weight: 600;
}
.songInfo h6{
  font-size: 14px;
  font-weight: 300;
}
.songTitle{
  align-items: flex-start;
color: rgb(39, 39, 39);
/* font-weight: 400; */
}

#seekObjContainer{
  width: 100%;
  height: 30px;
}
#timeline1 {
    display: flex;
    align-items: center;
    width: 70%;
    height: 3px;
    margin:  0 auto;
    background: rgb(154, 154, 154);
    border-radius: 50px;
}
#seekObj1 {
    width: 8px;
    height: 7px;
    background: #000;
    border-radius: 50%;
}
.songTitleSm{
  display: none;
}

@media screen and (max-width: 1025px) {
  #timeline1 {
    width: 80%;
}
  .songArt{
    flex:3;
  }
  .songInfo h4{
    font-size: 16px;
    font-weight: 600;
  }
  .songInfo h6{
    font-size: 13px;
    font-weight: 300;
  }
}
@media screen and (max-width: 769px) {
  #timeline1 {
    width: 90%;
}
.musicControlCtn{
  padding: 10px 20px 10px 20px;
}
  .songArt{
    flex:0;
  }
  .songInfo{
    display: none;
  }
  .songTitleSm{
    display: block;
  }

}

@media screen and (max-width: 426px) {
  #timeline1 {
    width: 100%;
}
.musicControlCtn{
  padding: 10px 10px 10px 10px;
}


}