
.accountDropdown{
    position: absolute;
    top: 80px;
    right: 5px;
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    background-color: #010c16;

}

.accountDropdown h6{
    color: #fff;
    /* padding: 5px 16px; */
    text-decoration: none;
    display: block;
    font-size: 14px;
    padding-bottom: 5px;
    border-bottom: 0.2px solid rgb(167, 165, 165)
  }
  
  /* Links inside the dropdown */
  .accountDropdown a {
    cursor: pointer;
    color: #fff;
    /* padding: 5px 16px; */
    text-decoration: none;
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
  }
  .accountDropdown a:hover{
    background-color: rgb(255, 255, 255);
    color: #010c16;
    border-radius: 5px;
    padding-left: 10px;
  }

  .accountDropdown a:last-child{
    font-family: sans-serif;
    font-size: 12px;
    color: #111111;
    margin-left: 5px;
    margin-top: 5px;
  }
  .accountDropdown button{
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;

  }
  .accountDropdown a:last-child:hover{
    background-color: rgb(255, 255, 255);
    color: #010c16;
    border-radius: 5px;
    padding-left: 0;
  }
